Repository artefactual/atom-docs, pull requests merged in 2019-05, with the labels that each got.

#87 New CLI tasks for physical storage mgmt docs, for #12646, @12618
  admin-manual/maintenance/cli-tools.rst
  admin-manual/maintenance/images/cli-physical-obj-normalize.png
  admin-manual/maintenance/images/cli-physicalobject-delete-unlinked.png
  images/cli-physical-obj-normalize.png
  images/cli-physicalobject-delete-unlinked.png
Labels: admin manual, new content

#93 Add deaccession CSV import docs, fixes issue #92
  admin-manual/maintenance/cli-import-export.rst
  admin-manual/maintenance/images/csv-deaccession-options.png
  user-manual/add-edit-content/deaccessions.rst
  user-manual/import-export/csv-import.rst
Labels: admin manual, major fix, new content

#95 Update clipboard docs, fixes #94
  user-manual/access-content/clipboard.rst
  user-manual/access-content/images/button-block-clipboard.png
  user-manual/administer/settings.rst
  user-manual/glossary/glossary.rst
Labels: major fix, new content, user manual

#101 Add search:status docs, fixes issue #99
  admin-manual/maintenance/cli-tools.rst
  admin-manual/maintenance/elasticsearch.rst
  admin-manual/maintenance/images/cli-search-status-response.png
  admin-manual/maintenance/populate-search-index.rst
  admin-manual/maintenance/troubleshooting.rst
Labels: admin manual, major fix, new content

#109 Update docs to describe how AtoM parses event dates in DC date field, fixes 10341
  user-manual/data-templates/dc-template.rst
  user-manual/import-export/csv-import.rst
Labels: minor fix, user manual

#111 Update hierarchy browser docs, fixes #110
  user-manual/access-content/browse.rst
  user-manual/administer/images/browse-hierarchy-choice.png
  user-manual/administer/images/browse-hierarchy.png
  user-manual/administer/settings.rst
  user-manual/glossary/glossary.rst
Labels: major fix, new content, user manual
