Repository artefactual/atom-docs, pull requests merged in 2019-03, with the labels that each got.

#56 Make clear Memcached is optional, refs #12897
  admin-manual/installation/asynchronous-jobs.rst
  admin-manual/installation/execution-limits.rst
  admin-manual/installation/linux/ubuntu-trusty.rst
  admin-manual/installation/linux/ubuntu-xenial.rst
  admin-manual/installation/requirements.rst
  admin-manual/installation/upgrading.rst
  admin-manual/maintenance/cli-tools.rst
Labels: admin manual

#57 Improve Docker Compose section, refs #12721
  dev-manual/env/compose.rst
Labels: dev manual

#59 Problem: Document '--link-source' option and use case for DO load task feature enhancement
  admin-manual/maintenance/cli-import-export.rst
Labels: admin manual, minor fix, new content

#61 Add markdown docs, fixes #58
  user-manual/add-edit-content/formatting.rst
  user-manual/add-edit-content/images/formatting-blockquote.png
  user-manual/add-edit-content/images/formatting-codeblock.png
  user-manual/add-edit-content/images/formatting-emphasis.png
  user-manual/add-edit-content/images/formatting-headers.png
  user-manual/add-edit-content/images/formatting-hr.png
  user-manual/add-edit-content/images/formatting-images.png
  user-manual/add-edit-content/images/formatting-inline-text.png
  user-manual/add-edit-content/images/formatting-links.png
  user-manual/add-edit-content/images/formatting-lists-1.png
  user-manual/add-edit-content/images/formatting-lists-2.png
  user-manual/administer/images/markdown-settings.png
  user-manual/administer/settings.rst
  user-manual/administer/static-pages.rst
Labels: major fix, new content, user manual

#63 Reorganize and update settings, fixes #62
  user-manual/administer/images/derivatives-settings.png
  user-manual/administer/images/description-view-options.png
  user-manual/administer/images/description-view-toggle.png
  user-manual/administer/images/global-settings.png
  user-manual/administer/images/identifier-settings.png
  user-manual/administer/images/security-panel.png
  user-manual/administer/images/settings-menu.png
  user-manual/administer/settings.rst
Labels: major fix, user manual
