Repository artefactual/atom-docs, pull requests merged in 2023-11, with the labels that each got.

#242 Document BS2 deprication and BS5 migration. (#237)
  admin-manual/customization/theming.rst
  admin-manual/installation/ubuntu.rst
  admin-manual/installation/upgrading.rst
  user-manual/administer/images/change-theme.png
  user-manual/administer/images/dominionB5-theme.png
  user-manual/administer/themes.rst
Labels: admin manual, new content

#247 Copy package-lock for tarball themes. (#237)
  admin-manual/customization/theming.rst
  admin-manual/installation/upgrading.rst
  admin-manual/maintenance/cli-import-export.rst
  admin-manual/maintenance/cli-tools.rst
  conf.py
  requirements.txt
Labels: admin manual

#241 Update docs about search box defaults (#236)
  user-manual/access-content/images/search-delimiter.png
  user-manual/access-content/search-atom.rst
Labels: user manual
